.sobre-title {
	width: 100%;
	padding-bottom: 65px;
	text-align: center;
}
.sobre {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 60px;
}
@media (min-width: 768px) {
}